<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layoutPadrao.html}">
<head>
    <title>ATUALIZAR RESERVA EQUIPAMENTO:</title>
</head>
<body>
<header th:replace="~{fragments/header.html}" th:fragment="header">
</header>
<div class="container" layout:fragment="context">
    <div class="atualizar" >
        <h1>
            ATUALIZAR RESERVA(EQUIPAMENTO):
        </h1>
        <form method="post" action="/atualizarReservaEquipamento">
            <div class="mb-3 required">
                <label for="id" class="form-label">ID DA RESERVA</label>
                <input type="number" id="id" name="id" class="form-control" th:value="${id}" readonly>
            </div>
            <div class="mb-3 required">
                <label class="form-label" for="equipamento">EQUIPAMENTO</label>
                <select class="form-select" required id="equipamento" name="equipamento">
                    <option th:each="equipamentos : ${equipamentosModelList}"
                            th:text="${equipamentos.nomeEquipamento}"
                            th:value="${equipamentos.id_equipamento}"></option>
                </select>
            </div>
            <div class="mb-3 required">
            <label class="form-label" for="func">FUNCIONARIO</label>
            <select class="form-select" required name="func" id="func">
                <option th:each="funcionarios : ${funcionarioModelList}"
                        th:text="${funcionarios.nomeFuncionario}"
                        th:value="${funcionarios.id}"></option>
            </select>
            </div>
            <button type="submit" class="btn btn-primary">ATUALIZAR</button>
        </form>
    </div>
</div>
<footer th:replace="~{fragments/footer.html}" th:fragment="footer">

</footer>
</body>
</html>